* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1 {
  font-size: 80px;
  text-align: center;
  display: block;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  white-space: nowrap;
  border-right: 4px solid;
  width: 31ch;
  animation: typing 5s steps(31), blink 0.5s infinite step-end alternate;
  overflow: hidden;
  text-transform: capitalize;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
