@tailwind base;
@tailwind components;

.slider-before,
.slider-after {
  background-color: linear-gradient(
    to right,
    white 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: auto;
  position: absolute;
  width: 100px;
  z-index: 2;
}

.slider-after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider-before {
  left: 0;
  top: 0;
}
@tailwind utilities;
